.score{
  padding: 45px 0;
}
.locals{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.score_match{
  border: 1px solid gray;
  padding: 25px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 3em;
}
.home{
  width: 50%;
  text-align: center;
  padding: 15px;
}
.away{
  width: 50%;
  text-align: center;
  padding: 15px;
}
.board{
  padding: 25px 0;
}
.board h2{
  text-align: center;
}
.board button{
  display: block;
  margin: 15px auto;
}
.final_score{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.cont{
  width: 50%;
  margin: 0 auto;
}
.box_score{
  background-color: black;
  padding: 15px;
  border: 1px solid white;
  color: white;
  width: 50%;
}
.custom-select-lg{
  margin: 5px 0;
}